body{
    margin: 0;
    background-color: aliceblue;
    box-sizing: border-box;
}

nav ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 5vh;
    background-color: rgb(66, 66, 70);
}

nav ul li{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    list-style: none;
}

nav ul a{
    text-decoration: none;
    color: white;
    font-size: 20px;
}